# REDIS

USE_REDIS=true
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=your-password # Optional, default is None
REDIS_DEFAULT_TTL=3600
REDIS_PREFIX=flac_scrapper:

# DEBUG
# If true, will print debug information to html file
DEBUG=true